div#header-col-2 {
	position: relative;
	width: 492px;
	float: right;
	margin-top: 20px;
	background-color: #222222;
}

#header-col-2-col-1 {
	float: right;
}

div#header-radio-bt {
	width: 236px;
	height: 70px;
	float: right;
	margin: 10px 10px 0 0;
	background-image: url(../img/listen.gif);
}

#header-radio-bt span {
	font-family: "Univers Next Arabic";
	font-size: 24px;
	font-weight: normal;
	color: #FFF;
	padding-right: 70px;
	display: block;
	width: 90px;
	line-height: 30px;
}

div#header-podcast-bt {
	width: 234px;
	height: 48px;
	border: solid 1px #333;
	float: right;
	clear: both;
	margin: 10px 10px 0 0;
	background-image: url(../img/dernier_news.gif);
}

#header-podcast-bt span {
	font-family: "Univers Next Arabic";
	font-size: 24px;
	font-weight: normal;
	color: #FFF;
	padding-right: 49px;
}

div#header-daily-prog-bt {
	width: 236px;
	height: 130px;
	float: right;
	background-image: url(../img/prog.gif);
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 0;
	position: relative;
}

#header-daily-prog-bt span {
	font-family: "Univers Next Arabic";
	font-size: 24px;
	font-weight: normal;
	color: #FFF;
	padding-right: 11px;
	display: block;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	padding-bottom: 10px;
	width: 225px;
	top: 84px;
}

/*============================todo28======================*/
div.block_style_1 {
	position: relative;
	width: 236px;
	line-height: 1;
}

div.block_style_2 {
	position: absolute;
	top: 0px;
	left: 0px;
	display: table;
	height: 160px;
	width: 100%;
	/*opacity: 0.5;*/
}

div.block_style_2 div.tbcell {
	display: table-cell;
	height: auto;
	vertical-align: bottom;
	display: table-cell;
}

div.block_style_2 div.tbcell p {
	position: absolute;
	display: block;
	width: 100%;
	/*width: 216px;*/
	bottom: 0px;
	margin-bottom: 0;
	padding-bottom: 10px;
	font-family: "Univers Next Arabic";
	font-size: 18px;
	font-weight: normal;
	color: #FFFFFF;
	background: none repeat scroll 0 0 #333333;
	background-color: rgba(0, 0, 0, 0.5);
	font-family: "Univers Next Arabic";
}

div.block_style_2 div.tbcell p  span.title {
	clear: both;
	display: block;
}

div.block_style_2 div.tbcell p span.article_info span.img_separator {
	background-image: url("../img/separator.png");
	width: 5px;
}
/*======================= end todo28 ======================*/

/*============================ todo28  #header-col-1 ======================*/
div#header-col-1 {
	position: relative;
	width: 482px;
	height: 307px;
	background: #121445;
	float: right;
}

div#header-col-1 p {
	position: absolute;
	width: 100%;
	bottom: 0px;
	margin-bottom: 0px;
	color: #222222;
	background-color: rgba(225, 225, 225, 0.6);
	z-index: 61;
	font-weight: normal;
	font-size: 24px;
	font-family: "Univers Next Arabic";
	text-decoration: none;
	/*width: 462px;*/
}

div#header-col-1 p span {
	display: block;
}

div#header-col-1 p span.article_info { /*defined in rtl*/
	
}

div#header-col-1 p span.title {
	clear: both;
	padding: 10px;
}

div#header-col-1 p span.article_info span.author {
	
}

div#header-col-1 p span.article_info span.img_separator {
	background-image: url("../img/separator.png");
	height: 15px;
	width: 5px;
}

div#header-col-1 p span.article_info span.content_type {
	
}

/*======================= end todo28 #header-col-1 ======================*/
div.block_style_3 {
	width: 236px;
	position: relative;
	z-index: 50;
}

section#block-home-page-config-block-8-ar {
	width: 100%;
}

section#block-home-page-config-block-8-ar ul {
	margin: 0px;
	padding: 0px;
}

div.block_style_5 {
	width: 100%;
	height: 210px;
	background: url(../img/syria-map-bg.png) top left no-repeat;
	position: relative;
	z-index: 50;
}

div.sidebar>* {
	float: left;
}

.block_title {
	background-color: #222222;
	color: #FFFFFF;
	font-weight: normal;
	padding: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	position: relative;
	font-family: "Univers Next Arabic";
	font-size: 22px;
	text-decoration: none;
	line-height: 26px;
}

.error_message {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #D8000C;
	background-color: #FFBABA;
	border: 1px solid;
	margin: 10px 0px;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	background-image: url('error.png');
}

#block-home-page-config-block-2-ar {
	margin: 0 10px 0 0;
}

section#main-content .block-home-page-config,.sidebar .block-home-page-config
	{
	margin-bottom: 10px;
	line-height: 0;
}

section#block-home-page-config-block-7-ar {
	width: 100%;
}

div#header-last-news-list a {
	color: #fff;
}

span.block-ico-news,span.block-ico-image,span.block-ico-audio,span.block-ico-video,span.block-world
	{
	width: 40px;
	height: 40px;
	position: absolute;
	left: 10px;
	top: 10px;
}

span.block-ico-news {
	background: url(../img/ico-article.png) top left no-repeat;
}

span.block-ico-image {
	background: url(../img/ico-photo.png) top left no-repeat;
}

span.block-ico-audio {
	background: url(../img/ico-audio.png) top left no-repeat;
}

span.block-ico-video {
	background: url(../img/ico-video.png) top left no-repeat;
}

span.block-ico-world {
	background: url(../img/ico-world.png) top left no-repeat;
}